n8n/workflows/morning_briefing.json
{
  "name": "Morning Briefing",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1-6"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Business Day 8AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.CRM_API_URL || 'http://mock-crm:8081/leads' }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "fetch-leads",
      "name": "Fetch Leads from CRM (mock in testbed)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Format leads into a morning briefing.\n// Falls back to mock data if the leads API is unreachable.\n\nconst input = $input.first();\nlet leads;\n\nif (input.json.statusCode && input.json.statusCode >= 400) {\n  // API unreachable — use mock data for testing\n  leads = [\n    { name: 'John Smith', phone: '903-555-0100', status: 'New Lead', interest: '3BR Jessup single-section', source: 'Facebook Ad' },\n    { name: 'Maria Garcia', phone: '903-555-0200', status: 'Follow-up', interest: 'Titanium 4BR multi-section', source: 'Walk-in' },\n    { name: 'Robert Johnson', phone: '903-555-0300', status: 'Finance Review', interest: 'Jessup 2BR starter', source: 'Website' },\n    { name: 'Ashley Williams', phone: '903-555-0400', status: 'Appointment Set', interest: 'Titanium energy-efficient 3BR', source: 'Referral' }\n  ];\n} else {\n  leads = Array.isArray(input.json) ? input.json : [input.json];\n}\n\nconst now = new Date().toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', timeZone: 'America/Chicago' });\n\nlet briefing = `MORNING BRIEFING — ${now}\\n`;\nbriefing += `Longview Home Center\\n`;\nbriefing += `${'='.repeat(40)}\\n\\n`;\nbriefing += `Total Active Leads: ${leads.length}\\n\\n`;\n\nleads.forEach((lead, i) => {\n  briefing += `${i + 1}. ${lead.name} (${lead.phone})\\n`;\n  briefing += `   Status: ${lead.status}\\n`;\n  briefing += `   Interest: ${lead.interest}\\n`;\n  briefing += `   Source: ${lead.source}\\n\\n`;\n});\n\nbriefing += `---\\nGenerated by AI MSP Testbed`;\n\nreturn [{ json: { briefing, leadCount: leads.length, generatedAt: new Date().toISOString() } }];"
      },
      "id": "format-briefing",
      "name": "Format Briefing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Business Day 8AM Trigger": {
      "main": [
        [{ "node": "Fetch Leads from CRM (mock in testbed)", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Leads from CRM (mock in testbed)": {
      "main": [
        [{ "node": "Format Briefing", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Chicago"
  },
  "active": false,
  "tags": [{ "name": "msp-testbed" }]
}
